.summaryContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between heading and content */
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: var(--cta-accent);
  color: var(--text-primary);
  border-radius: var(--border-radius);
  flex-shrink: 0;
  border: 1px solid var(--surface-quaternary);
  margin-right: 0.75rem;
}

.summaryContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
